<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout1.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="#" class="brand">shop</a>
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">contact Us</a></li>
                    <li class="btn-list-item">
                        <a href="#" class="btn btn-secondary">
                         sign up
                        </a>
                    </li>
                    <li class="btn-list-item">
                        <a href="#" class="btn btn-primary">
                         sign in
                        </a>
                    </li>
                </ul>
                <div class="buttons">
                    <a href="" class="btn btn-secondary">Sign Up</a>
                    <a href="" class="btn btn-primary">Sign In</a>
                </div>
                <button class="menu-btn">
                    &#8801;
                </button>
        
            </nav>

            <div class="header-body">
             <div class="header-text">
                <div>
                    <h1 class="title">
                        Lorem ipsum dolor <br> sit amet.
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur,
                         adipisicing elit. Expedita, quia!
                    </p>
                    <div class="buttons">
                        <a href="" class="btn btn-primary">
                            Lorem, ipsum dolor.
                        </a>
                        <a href="" class="btn btn-secondary">
                            Lorem, ipsum dolor.

                        </a>
                    </div>

                    <div class="stats">
                      <div>
                        <h2 class="counter">0000</h2>
                        <p>Lorem, ipsum.</p>
                      </div>
                      <div class="line"></div>
                      <div>
                        <h2 class="counter">000</h2><p>Lorem, ipsum.</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <img src="/images/banner.png" alt="banner">
            </div>
        </div>
    </div> 
</header>
<section class="cards">
<div class="container">

 <div class="card">
    <img src="/images/card1.jpg" alt="analytics" />
       <div class="card-text">
      <h3>Analytics</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae?
    </p>
    <a href="#">Learn More&#8594;</a>
   </div>
</div>
<div class="card">
    <img src="/images/card1.jpg" alt="analytics" />
       <div class="card-text">
      <h3>Analytics</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae?
    </p>
    <a href="#">Learn More&#8594;</a>
   </div>
</div>
<div class="card">
    <img src="/images/card1.jpg" alt="analytics" />
       <div class="card-text">
      <h3>Analytics</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae?
    </p>
    <a href="#">Learn More&#8594;</a>
   </div>
</div>
<div class="card">
    <img src="/images/card1.jpg" alt="analytics" />
       <div class="card-text">
      <h3>Analytics</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, molestiae?
    </p>
    <a href="#">Learn More&#8594;</a>
   </div>
</div>


</div>
</div>
</div>
</section>

</body>
</html>