<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout2.css">

</head>
<body>
    <div class="container">
    <header>
        <img src="/images/logo1.png" alt="" class="logo" width="150px" height="50px">
    <nav>
        <ul class="menu">
            <li class="page"><a href="#">page1</a></li>
            <li class="page"><a href="#">page2</a></li>
            <li class="page"><a href="#">page3</a></li>
            <li class="page"><a href="#">page4</a></li>
            <li class="page button button1"><a href="#"> <button>button1</button></a></li>
            <li class="page button button2"><a href="#"> <button>button2</button></a></li>
            <li class="toggle"><a href="#"><span class="bars"></span></a></li>
        </ul>
    </nav>
    <!-- <a href="#"><button>Button</button></a> -->
    </header>
    <aside class="rightSide"></aside>
    <main></main>
    <aside class="leftSide"></aside>
    <footer></footer>
   </div> 
</body>
</html>